@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
    font-family: 'Gotham-bold';
    src: url('fonts/GothamBold.otf');
}

body {
    background-color: #121212;
}